/* GLOBALS */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.noselect:focus {
    outline: 0
}

.noselect>:focus {
    outline: 0
}




/* KEYFRAMES */

@keyframes animateIn {
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fullScale {
    to {
        transform: translate3d(0, 0, 0) scale(1);
    }
}
@keyframes leftCenterScale {
	to {
        transform: translate(-50%, 0) scaleX(1) translate3d(0, 0, 0);
    }	
}





/* BEGIN ABOUT PAGE CSS */

#aboutPointer {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    padding: 1rem;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0;
}

.CONTENTPAGE.PAGE_0 #aboutPointer {
    animation: fadeIn 0.6s ease 1.2s 1 forwards, suggestScroll 3s ease 1.8s infinite forwards;
}

@keyframes suggestScroll {
    0% {
        transform: translate(-50%, 0) rotate(45deg);
    }
    10%,
    16% {
        transform: translate(-50%, 1rem) rotate(45deg);
    }
    13% {
        transform: translate(-50%, 0.7rem) rotate(45deg);
    }
    30% {
        transform: translate(-50%, 0) rotate(45deg);
    }
    100% {
        transform: translate(-50%, 0) rotate(45deg);
    }
}




/* BEGIN PROJECT PAGE CSS */

#projectPage {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 120px 40px;
}

.projectItem {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    cursor: pointer;
}

#projectPage .projectItem:last-child {
    margin-bottom: 0;
}

.projectImageCol,
.projectImg {
    width: 320px;
}

.projectImg img {
    width: 100%;
    height: auto;
}

.projectImg {
    position: relative;
}

.projectTextCol {
    flex: 1;
    padding: 0 1.5rem;
}

.projectTitle {
    font-size: 200%;
    font-weight: 700;
}
.projectDesc {
	color: #222;
}





/* CONTACT PAGE */

#contactContainer {
    width: 100%;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-size: 140%;
}

#contactTitle {
    font-size: 200%;
    font-weight: 500;
}

#contactDesc a {
    color: #ff8200;
}

#contactSocials {
    color: #FF8200;
    font-size: 80%;
    margin-top: 2rem;
    padding-top: 2rem;
    position: relative;
}

#contactSocials:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 25%;
    height: 1px;
    background: #000;
    transform-origin: center top;
    transform: translate(-50%, 0) scaleX(0) translate3d(0, 0, 0);
}

.contactLink {
    display: inline-block;
    margin: 0 0.5rem;
}

.credit {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 75%;
    color: #aaa;
    width: 100%;
    text-align: center;
}

.credit a {
    color: #FF8200;
}



/* PROJECT DETAILS PAGE */
#projectDetails {
	min-height: 100vh;
	font-size: 110%;
}
#detailContainer {
	max-width: 820px;
	padding: 108px 40px 40px 40px;
	margin: 0 auto;
	position: relative;
}

#detailNavWrapper {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	border-bottom: 1px solid #eee;
	background: #fff;
	z-index: 100;
	opacity: 0;
}
#detailNav {
	width: 100%;
	max-width: 820px;
	padding: 10px 40px;
	margin: 0 auto;

	display: flex;
}
.detailNavItem {
	padding: 0.5rem;
	transition: color .25s ease;
	cursor: pointer;
}
.detailNavItem:hover {
	color: #FF8200;
}

#detailNext {
	padding: 96px 40px;
	text-align: center;
	border-top: 1px solid #FF8200;
	font-size: 180%;
	position: relative;
	transition: color 0.6s ease, transform 0.6s ease;
	cursor: pointer;
	color: #FF8200;
}
#detailNext > div {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
#detailNext:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FF8200;
	transform: translate3d(0,0,0) scaleY(0);
	transition: transform 0.6s ease;
	transform-origin: center bottom;
}
#detailNext:hover {
	color: #fff;
}
#detailNext:hover:after {
	transform: translate3d(0,0,0) scaleY(1);	
}
.NEXTDETAIL #detailNext {
	transform: translate3d(0,0,0) translate(0, 100%);
}
.NEXTDETAIL #detailContainer {
	animation: fadeOut 0.6s ease 0.1s 1 forwards;
}



.projectOptions > * {
	display: none;
}
.PROJECT_0 .projectOptions > *:nth-child(1) {
	display: block;
}
.PROJECT_1 .projectOptions > *:nth-child(2) {
	display: block;
}
.PROJECT_2 .projectOptions > *:nth-child(3) {
	display: block;
}
.PROJECT_3 .projectOptions > *:nth-child(4) {
	display: block;
}
.PROJECT_4 .projectOptions > *:nth-child(5) {
	display: block;
}


#detailRight {
	flex: 1;
	position: relative;
	margin: 0 20px;
	display: flex;
	flex-direction: column;
}
#detailProjectType {
	margin-top: auto;
	color: #FF8200;
	font-size: 80%;
	opacity: 0;
	transform: translate(4%, 0);
}
#detailTitle {
	font-size: 180%;
	opacity: 0;
	transform: translate(0, 4%);
}
#detailTitle div {
	/*position: absolute;
	bottom: 0;
	left: 0;
	line-height: 1;*/
}
#detailHeaderImg {
	margin-top: auto;
	width: 320px;
	position: relative;
}
#detailHeaderImg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    transform-origin: center bottom;
    transform: translate(-50%, 0) scaleY(0);
}
#detailHeaderImg img {
	width: 100%;
	opacity: 0;
}
#detailHeader {
	display: flex;	
	margin-bottom: 3rem;
	min-height: 200px;
}


.detailBody > * {
	opacity: 0;
}

#detailBodies .heading {
	font-weight: 700;
	font-size: 120%;
}
#detailBodies .subheading {
	color: #333;
	font-weight: 700;
	font-size: 100%;
}
#detailBodies .bodyText {
	margin-bottom: 2rem;
}
#detailBodies .endText {
	margin-bottom: 3rem;
}
#detailBodies .ulist {
	margin: 1rem 1.5rem 3rem 1.5rem;
}
#detailBodies .ulist li {
	margin: 0.25rem 0;
}

#detailBodies .dividerImg {
	width: 100%;
	max-width: 400px;
	margin: 3rem 0 4rem 0;
	box-shadow: 0 0 1px 1px #ccc;
}
#detailBodies .inlineImg {
	width: 100%;
	max-width: 400px;
	margin: 2rem 0 3rem 0;
	box-shadow: 0 0 1px 1px #ccc;
}

#detailBodies .codeBox {
	width: 100%;
	font-size: 90%;
	padding: 0 40px;
	margin: 3rem 0;
}
#detailBodies .code {
	width: 100%;
	background: #ccc;
}
#detailBodies .codeLink {
	display: inline-block;
	font-size: 90%;
	color: #FF8200;
	margin-top: 0.5rem;
}
#detailBodies .fileLinks {
	margin-bottom: 3rem;
}
#detailBodies .fileLinks .fileLink {
	display: block;
	color: #FF8200;
}





/* SHOW CONTENT ANIMATION */
.CONTENTPAGE #contentBody {
	position: relative;
    z-index: 20;
    opacity: 1;
}




/* LEFT COL */
#aboutImg {
    position: relative;
}

#aboutImg img {
    opacity: 0;
}

#aboutImg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    transform-origin: center bottom;
    transform: translate(-50%, 0) scaleY(0);
}

.CONTENTPAGE.PAGE_0 #aboutImg img {
    animation: fadeIn 0.6s ease 0.9s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutImg:before {
    animation: revealAboutCover 0.9s ease 0s 1 forwards;
}

@keyframes revealAboutCover {
    to {
        transform: translate(-50%, 0) scaleY(1);
    }
}
@keyframes hideAboutCover {
    to {
        transform: translate(-50%, 0) scaleY(0);
    }
}

.CONTENTPAGE.PAGE_0 #aboutTitle {
    animation: animateIn 0.9s ease 0.3s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutJob {
    animation: animateIn 0.9s ease 0.45s 1 forwards;
}

#aboutLinks {
    transform: translate(-4%, 0);
}

.CONTENTPAGE.PAGE_0 #aboutLinks {
    animation: animateIn 0.6s ease 0.6s 1 forwards;
}



/* RIGHT COL */

#aboutRight .heading {
    transform: translate(4%, 0);
}

#aboutRight .text {
    transform: translate(0, 4%);
}

.CONTENTPAGE.PAGE_0 #aboutRight:before {
    animation: fullScale 0.9s ease 0s 1 forwards;
}

.CONTENTPAGE.PAGE_0 .heading {
    animation: animateIn 0.9s ease 0s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(2) {
    animation: animateIn 0.9s ease 0.3s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(3) {
    animation: animateIn 0.9s ease 0.5s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(4) {
    animation: animateIn 0.9s ease 0.7s 1 forwards;
}

#aboutResume {
    opacity: 0;
    transform: translate(0, 10%);
}

.CONTENTPAGE.PAGE_0 #aboutResume {
    animation: animateIn 1.2s ease 0.3s 1 forwards;
}

/* FADE NAV */
.FADENAV #contentBody, .CONTENTPAGE #contentBody {
	display: block;
}


/* SHOW PROJECT ANIMATION */
.CONTENTPAGE.PAGE_1 #projectPage {
	animation: fadeIn 1.2s ease 0s 1 forwards;
}


/* SHOW CONTACT ANIMATION */
.CONTENTPAGE.PAGE_2 #contactTitle {
    animation: animateIn 1.2s ease 0s 1 forwards;
}
.CONTENTPAGE.PAGE_2 #contactDesc {
    animation: fadeIn 1.2s ease 0.6s 1 forwards;
}
.CONTENTPAGE.PAGE_2 #contactSocials:before {
	transform-origin: center top;
	animation: leftCenterScale 1.2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.5s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(1) {
	animation: fadeIn 1.2s ease 1.8s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(2) {
	animation: fadeIn 1.2s ease 2.1s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(3) {
	animation: fadeIn 1.2s ease 2.4s 1 forwards;
}

.CONTENTPAGE.PAGE_2 #contactPage .credit {
    animation: fadeIn 0.6s ease 3s 1 forwards;
}


/* FADE CONTENT */
.FADECONTENT #contentBody {
	transition: opacity 0.6s;
	opacity: 0;
}
.SHOWPROJECT #contentBody {
	display: none;
}
.SHOWPROJECT #projectDetails {
	display: block;
}

.SHOWPROJECT #detailHeaderImg:before {
	animation: revealAboutCover 0.9s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0s 1 forwards;
}
.SHOWPROJECT #detailHeaderImg img {
	animation: fadeIn 0.3s ease 0.9s 1 forwards;
}

.SHOWPROJECT #detailNavWrapper {
	animation: fadeIn 0.6s ease 0.6s 1 forwards;
}

.SHOWPROJECT #detailTitle {
	animation: animateIn 0.6s ease 0.3s 1 forwards;
}
.SHOWPROJECT #detailProjectType {
	animation: animateIn 0.6s ease 0.3s 1 forwards;
}

.SHOWPROJECT .detailBody > *:nth-child(1) {
	animation: fadeIn 0.9s ease 0.3s 1 forwards;
}
.SHOWPROJECT .detailBody > *:nth-child(2) {
	animation: fadeIn 0.9s ease 0.45s 1 forwards;
}
.SHOWPROJECT .detailBody > *:nth-child(3) {
	animation: fadeIn 0.9s ease 0.6s 1 forwards;
}
.SHOWPROJECT .detailBody > *:nth-child(4) {
	animation: fadeIn 0.9s ease 0.75s 1 forwards;
}
.SHOWPROJECT .detailBody > *:nth-child(n + 5) {
	animation: fadeIn 1.2s ease 0.9s 1 forwards;
}

/* HIDE PROJECT RULES */
.HIDEPROJECT #detailNavWrapper {
	opacity: 1;
	animation: fadeOut 0.6s ease 0.3s 1 forwards;
}
.HIDEPROJECT #detailHeaderImg img {
	opacity: 1;
	animation: fadeOut 0.3s ease 0s 1 forwards;
}
.HIDEPROJECT #detailHeaderImg:before {
	transform: translate(-50%, 0) scaleY(1);
	animation: hideAboutCover 0.9s cubic-bezier(0.785, 0.135, 0.150, 0.860) 0.3s 1 forwards;
}
.HIDEPROJECT #detailRight {
	animation: hideDetailRight 0.6s ease 0.3s 1 forwards;
}
@keyframes hideDetailRight {
	to {
		opacity: 0;
		transform: translate(4%, 0);
	}
}
.HIDEPROJECT #detailBodies {
	animation: fadeOut 0.6s ease 0.6s 1 forwards;
}

@media screen and (max-width: 780px){
	#detailNext {
		font-size: 150%;
	}
}
@media screen and (max-width: 700px){
	body .projectTitle {
	    font-size: 160%;
	}
	body .projectTextCol {
		padding-right: 1rem;
	}
}
@media screen and (max-width: 640px){
	#detailContainer, #detailNav {
		padding-right: 20px;
		padding-left: 20px;
	}
	#detailHeader {
		flex-direction: column;
	}
	#detailHeaderImg {
	    width: 100%;
	}
	#detailRight {
		margin: 2rem 0 0 0;
	}
	#detailBodies .codeBox {
		padding: 0;
	}
}