/* GLOBALS */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.noselect:focus {
    outline: 0
}

.noselect>:focus {
    outline: 0
}




/* KEYFRAMES */

@keyframes animateIn {
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fullScale {
    to {
        transform: translate3d(0, 0, 0) scale(1);
    }
}
@keyframes leftCenterScale {
	to {
        transform: translate(-50%, 0) scaleX(1) translate3d(0, 0, 0);
    }	
}





/* BEGIN ABOUT PAGE CSS */

#aboutPointer {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translate(-50%, 0) rotate(45deg);
    padding: 1rem;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    opacity: 0;
}

.CONTENTPAGE.PAGE_0 #aboutPointer {
    animation: fadeIn 0.6s ease 1.2s 1 forwards, suggestScroll 3s ease 1.8s infinite forwards;
}

@keyframes suggestScroll {
    0% {
        transform: translate(-50%, 0) rotate(45deg);
    }
    10%,
    16% {
        transform: translate(-50%, 1rem) rotate(45deg);
    }
    13% {
        transform: translate(-50%, 0.7rem) rotate(45deg);
    }
    30% {
        transform: translate(-50%, 0) rotate(45deg);
    }
    100% {
        transform: translate(-50%, 0) rotate(45deg);
    }
}




/* BEGIN PROJECT PAGE CSS */

#projectPage {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding: 120px 40px;
}

.projectItem {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    cursor: pointer;
}

#projectPage .projectItem:last-child {
    margin-bottom: 0;
}

.projectImageCol,
.projectImg {
    width: 320px;
}

.projectImg img {
    width: 100%;
    height: auto;
}

.projectImg {
    position: relative;
}

.projectTextCol {
    flex: 1;
    padding: 0 1.5rem;
}

.projectTitle {
    font-size: 200%;
    font-weight: 700;
}
.projectDesc {
	color: #222;
}





/* CONTACT PAGE */

#contactContainer {
    width: 100%;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    font-size: 140%;
}

#contactTitle {
    font-size: 200%;
    font-weight: 500;
}

#contactDesc a {
    color: #ff8200;
}

#contactSocials {
    color: #FF8200;
    font-size: 80%;
    margin-top: 2rem;
    padding-top: 2rem;
    position: relative;
}

#contactSocials:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 25%;
    height: 1px;
    background: #000;
    transform-origin: center top;
    transform: translate(-50%, 0) scaleX(0) translate3d(0, 0, 0);
}

.contactLink {
    display: inline-block;
    margin: 0 0.5rem;
}

.credit {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 75%;
    color: #aaa;
    width: 100%;
    text-align: center;
}

.credit a {
    color: #FF8200;
}





/* SHOW CONTENT ANIMATION */
.CONTENTPAGE #contentBody {
	position: relative;
    z-index: 20;
    opacity: 1;
}




/* LEFT COL */
#aboutImg {
    position: relative;
}

#aboutImg img {
    opacity: 0;
}

#aboutImg:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    transform-origin: center bottom;
    transform: translate(-50%, 0) scaleY(0);
}

.CONTENTPAGE.PAGE_0 #aboutImg img {
    animation: fadeIn 0.6s ease 0.9s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutImg:before {
    animation: revealAboutCover 0.9s ease 0s 1 forwards;
}

@keyframes revealAboutCover {
    to {
        transform: translate(-50%, 0) scaleY(1);
    }
}
@keyframes hideAboutCover {
    to {
        transform: translate(-50%, 0) scaleY(0);
    }
}

.CONTENTPAGE.PAGE_0 #aboutTitle {
    animation: animateIn 0.9s ease 0.3s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutJob {
    animation: animateIn 0.9s ease 0.45s 1 forwards;
}

#aboutLinks {
    transform: translate(-4%, 0);
}

.CONTENTPAGE.PAGE_0 #aboutLinks {
    animation: animateIn 0.6s ease 0.6s 1 forwards;
}



/* RIGHT COL */

#aboutRight .heading {
    transform: translate(4%, 0);
}

#aboutRight .text {
    transform: translate(0, 4%);
}

.CONTENTPAGE.PAGE_0 #aboutRight:before {
    animation: fullScale 0.9s ease 0s 1 forwards;
}

.CONTENTPAGE.PAGE_0 .heading {
    animation: animateIn 0.9s ease 0s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(2) {
    animation: animateIn 0.9s ease 0.3s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(3) {
    animation: animateIn 0.9s ease 0.5s 1 forwards;
}

.CONTENTPAGE.PAGE_0 #aboutRight .opacity>.text:nth-child(4) {
    animation: animateIn 0.9s ease 0.7s 1 forwards;
}

#aboutResume {
    opacity: 0;
    transform: translate(0, 10%);
}

.CONTENTPAGE.PAGE_0 #aboutResume {
    animation: animateIn 1.2s ease 0.3s 1 forwards;
}

/* FADE NAV */
.FADENAV #contentBody, .CONTENTPAGE #contentBody {
	display: block;
}


/* SHOW PROJECT ANIMATION */
.CONTENTPAGE.PAGE_1 #projectPage {
	animation: fadeIn 1.2s ease 0s 1 forwards;
}


/* SHOW CONTACT ANIMATION */
.CONTENTPAGE.PAGE_2 #contactTitle {
    animation: animateIn 1.2s ease 0s 1 forwards;
}
.CONTENTPAGE.PAGE_2 #contactDesc {
    animation: fadeIn 1.2s ease 0.6s 1 forwards;
}
.CONTENTPAGE.PAGE_2 #contactSocials:before {
	transform-origin: center top;
	animation: leftCenterScale 1.2s cubic-bezier(0.785, 0.135, 0.150, 0.860) 1.5s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(1) {
	animation: fadeIn 1.2s ease 1.8s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(2) {
	animation: fadeIn 1.2s ease 2.1s 1 forwards;
}
.CONTENTPAGE.PAGE_2 .contactLink:nth-child(3) {
	animation: fadeIn 1.2s ease 2.4s 1 forwards;
}

.CONTENTPAGE.PAGE_2 #contactPage .credit {
    animation: fadeIn 0.6s ease 3s 1 forwards;
}


/* FADE CONTENT */
.FADECONTENT #contentBody {
	transition: opacity 0.6s;
	opacity: 0;
}
.SHOWPROJECT #contentBody {
	display: none;
}